<div class="footer col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="footer-top">
        <ul>
            <li>
                <input type="text" id="movil" name="s" class="textbox" placeholder="Search">
                <input type="submit" value="Subscribe" id="submit" name="submit" data-bind="click:search">
            </li>
        </ul>
    </div>
    <div class="footer-middle">

    </div>
    <div class="footer-bottom">
        <p>© All rights reserved </p>
    </div>
</div>

