/* ----Products---- */
.products{    
    padding:10px;    
}
.top-box {
border:1px solid black;
}
.top-box h3,.top-box p{
    text-align:center;
}   
.price{
    float:right;
}
.list a {
    background-color:black;
    font-size:larger;
    font-weight:600;
    cursor:pointer;
}
.list a:hover {
    background-color:#0AA4FC;
    color:white;
    border-radius:5px;
}
.list > li > ul  {
    text-align:center;
}
.clear {
    clear:both;
}

/* ----Menu---- */
.menu {
    display:none;    
    position: absolute;
    top: 100%;   
    z-index: 1000;   
    background-color:white;
    box-shadow:0 6px 12px rgba(0, 0, 0, 0.176);
    border:1px solid rgba(0, 0, 0, 0.15);
    border-radius:4px;
}
.menu img {
    width:42px;
    height:42px;
}
.menu a {
    color: gray;    
    text-decoration: none;
    display: block;
    text-align: left;
} 
li {
    list-style-type: none;
}
li a {
    padding: 5px 50px;    
}
ul{
    padding:5px 14px;
}
.user{
    float:right;
}
.user ul{
    float:right;
}
.my_nav {
    background-color:white;
    z-index:1000;
}
.user-manager {
    padding:5px 50px 0 0;
}
.user-manager > li {
    display:inline;
}
.user-manager form li {
    display:inline;
}
.user-manager form li a {
    padding:0px;    
}
.user-manager > li > a,.user-manager form > li > a {
    padding:10px 15px;
    color:black;
}
.user-manager > li > a:hover,.user-manager form > li > a:hover {
    background-color:#0AA4FC;
    font-size:larger;
    color:white;   
}
.mouse-over {
 display:compact;
}

/* ----Details---- */
.mask{
    position:absolute;
    top:45%;
    left:35%;
    background-color:#337ab7;
    cursor:pointer;
    padding:5px 20px;
}
.mask{
    display:none;
}
.mask a{
   color:white;
}
.info{
    padding:0 20px;
}

/*----Cart----*/
.cart {
    display:none;    
}
.show-cart img{
  width:20px;
  height:20px;
  cursor:pointer;
}
.show-cart > div{
  float:right;
}
.cart-show {
    display:block;
    padding:10px 0 0 0;
}
.shown-cart {
    position: absolute;
    left:42%;
    top: 70%;   
    z-index: 1000;   
    background-color:white;
    box-shadow:0 6px 12px rgba(0, 0, 0, 0.176);
    border:1px solid rgba(0, 0, 0, 0.15);
    border-radius:4px;
    padding:0 50px;
}
table.cart-table tbody tr td{
padding:0 5px;
text-align:center;
}
.prod-name {
padding:0 50px!important;
}
.count{
    width:40px;
}
.cart-heading {
    text-align:center;
}
.subtotal {
    text-align:right;
    padding:0 5px;
}
.withoutprod{
    text-align:center;
    padding:0 50px;
}
.withoutprod_footer{
    height:20px;
    text-align:center;
}

/*----Language Images----*/
div.lang a img{
     width:21px;
     height:13px;     
}
div.lang {
     padding:0 15px 0 0;
     float:right;  
}
.image
{  
    text-align: center;
}
div.top-box {   
    padding:5px;
}
div.image {
    padding:5px;
}
div.image img {
    width:100%;
    height:173px;
}
a.details {
    display:none;
}

/* ----Footer---- */
.footer-top{
text-align:center;
background-color:#d5d5d5;
margin:0px
}
.footer-top ul{
margin:0px
}
.footer-middle {   
    height:50px;
}
.footer-bottom{
    text-align:center;
    background-color:black;
}
.footer-bottom p{
   color:white;
   margin:0px;
}
.footer-top input[type="text"] {
  background: white none repeat scroll 0 0;
  border: medium none;
  color: #999;
  font-size: 0.8125em;
  margin: 0;
  outline: medium none;
  padding: 5px 10px;
  transition: all 0.5s ease-out 0s;
  width: 50%;
}
.footer-top input[type="submit"] {
  background: #08080b url("/images/index/s_arrow.png") no-repeat scroll 11px 7px;
  border: medium none;
  cursor: pointer;
  height: 30px;
  outline: medium none;
  text-indent: -9999px;
  width: 35px;
  position:absolute;
  left:72%;
  top:6px;
}

/* ----Form---- */
.form-group label{
    padding:10px;
}
.form_row{
padding:10px 0 10px 0;
}

/* ----Advertisement---- */
.ad {
padding:0 10px;
}
.ad div > img{
    width:100%;
}
.ad div{
    border:1px solid black;
    margin:10px 0 20px 0;
    padding:0 10px;
}

/* ----Mobile---- */
.mobile {
      display:block;  
      width:100%;
      position: static;
      top: 100%;
      left: 20px;
      z-index: 1000;
      float: none; 
}
.mobile-menu {
    display:none;
    font-size:larger;
    color:white;
    padding:60px 0 0 10px;
}

@media (max-width: 768px) {
  li >img {
    display: none; 
  }
  .user-manager form li a{
      font-size:small;
      padding:0 3px;
  }
  li td img {
    display: inline; 
  }
 .show-cart > img{
    display:inline;
  }
 a.details {
    display:inline;
}
 ul {
    margin-bottom:0px;
    }
 li a {
    padding:5px;
}
 .list > li > ul > li {
    text-align:center;
    display:inline;
}
 div.image > img{
     width:50%;
 }
.carousel-inner img {
padding:0px !important;
}
.user-manager {
    padding:0 10px 0 0;
}
.cart-table td,.view-cart td{
    padding:2px!important;
}
.view-cart .form-control{
    padding:0px;
}
.view-cart img{
   width:10px;
   height:10px;
}
.panel-body{
    padding:0px!important;
}
.row {
margin:0px!important;
}
}

@media (min-width:769px) and (max-width: 963px){
.shown-cart {
    left:22%;
}
} 