.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;  
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
    background: url('/Areas/Admin/Content/images/loader.gif') 50% 50% no-repeat rgb(249,249,249);
    background-size: 40px 20px;
}
.form-group {
    margin-bottom: 2px !important;
}

/* ----Admin---- */
.dropdown a{
    text-decoration:none;
}